<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="" method="post">
    <input type="text" name="memberEmail" placeholder="이메일"><br>
    <input type="password" name="memberPassword" placeholder="비밀번호"><br>
    <input type="password" name="memberConfirmPassword" placeholder="비밀번호 확인"><br>
    <input type="text" name="memberName" placeholder="이름"><br>
    <input type="submit" value="회원가입">
  </form>
</body>
</html>